.users {
    padding: 60px 25px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    min-width: 40%;
}

.pageController {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.pageController button {
    color: snow;
    padding: 5px;
    font-size: 20px;
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
}

.pageController button:hover {
    color: #6e0a0a;
}