.user {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.user button {
    padding: 5px;
    font-size: 20px;
    background-color: red;
    border-radius: 15px;
}

.userInfo {
    font-size: 24px;
    color: white;
}

.userButtons a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.userButtons {
    display: flex;
    column-gap: 15px;
}