.post {
    display: flex;
    justify-content: space-between;
}

.post button {
    padding: 5px;
    font-size: 20px;
    background-color: red;
    border-radius: 15px;
}

.post button a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.postInfo {
    font-size: 26px;
    color: white;
}